### Assessing the Readiness of HEI in Malaysia to Accept Generation Alpha

---

# Handling categorical attributes

An error will occur if these categorical varriables are included into most of the machine learning models without preprocessing them first. There are three approach to prepare the categorical data.

- Drop
- Label Encoding
- One-Hot Encoding

## Setting environment

The required packages are imported.

In [1]:
import pandas as pd
import numpy as np

## Reading data

Each datasets are imported into different dataframes.

In [2]:
%%time
info_content_df = pd.read_hdf('../data/interim/Info_Content.h5', key='info_content')
info_userdata_df = pd.read_hdf('../data/interim/Info_UserData.h5', key='info_userdata')
log_problem_df = pd.read_hdf('../data/interim/Log_Problem.h5', key='log_problem')

Wall time: 6.33 s

In [3]:
info_content_df.head()

,content_pretty_name,content_kind,difficulty,subject,learning_stage,level1_id,level2_id,level3_id,level4_id
ucid,,,,,,,,,
odIwFdIiecFwVUAEEV40K3MSuCSlIZkbq92Zp9tkZq8=,【基礎】怎樣解題：數量關係,Exercise,easy,math,elementary,aH0Dz0KdH9gio7rrcGRHvrmd9vcd/0WJbeEFB7qeUKA=,ICgke8JJv5eapCPwyj1aco8PEtoBkUbTZYIqxmYtqBk=,bo3jsx1beVLEZ+2sckxdZNYnlLpVS7hb5lWU2baQ66k=,KPJMQebU0O24+NzlQ4udb2BXLlKV1Hte61+hV5Xb+oU=
dfeeBaa8zDhWS6nu7zeXKwLyi4zqEajI3tJM9/fSBPM=,【基礎】和差問題 1,Exercise,easy,math,elementary,aH0Dz0KdH9gio7rrcGRHvrmd9vcd/0WJbeEFB7qeUKA=,ICgke8JJv5eapCPwyj1aco8PEtoBkUbTZYIqxmYtqBk=,bo3jsx1beVLEZ+2sckxdZNYnlLpVS7hb5lWU2baQ66k=,KPJMQebU0O24+NzlQ4udb2BXLlKV1Hte61+hV5Xb+oU=
C2AT0OBTUn+PRxEVd39enhW/DJtka1Tk90DUAR6yVdA=,【基礎】雞兔問題 1,Exercise,easy,math,elementary,aH0Dz0KdH9gio7rrcGRHvrmd9vcd/0WJbeEFB7qeUKA=,ICgke8JJv5eapCPwyj1aco8PEtoBkUbTZYIqxmYtqBk=,bo3jsx1beVLEZ+2sckxdZNYnlLpVS7hb5lWU2baQ66k=,KPJMQebU0O24+NzlQ4udb2BXLlKV1Hte61+hV5Xb+oU=
jZvYpEa6VB/WrlKKmQHnfbv/xJ4OypBzq0epVcn500Q=,【基礎】年齡問題 1,Exercise,easy,math,elementary,aH0Dz0KdH9gio7rrcGRHvrmd9vcd/0WJbeEFB7qeUKA=,ICgke8JJv5eapCPwyj1aco8PEtoBkUbTZYIqxmYtqBk=,bo3jsx1beVLEZ+2sckxdZNYnlLpVS7hb5lWU2baQ66k=,KPJMQebU0O24+NzlQ4udb2BXLlKV1Hte61+hV5Xb+oU=
M+UxJPgRIW57a0YS3eik8A9YDj+AwaMpTa5yWYn/kAw=,【基礎】追趕問題,Exercise,easy,math,elementary,aH0Dz0KdH9gio7rrcGRHvrmd9vcd/0WJbeEFB7qeUKA=,ICgke8JJv5eapCPwyj1aco8PEtoBkUbTZYIqxmYtqBk=,bo3jsx1beVLEZ+2sckxdZNYnlLpVS7hb5lWU2baQ66k=,KPJMQebU0O24+NzlQ4udb2BXLlKV1Hte61+hV5Xb+oU=

In [4]:
info_userdata_df.head()

,gender,points,badges_cnt,date_login,user_grade,user_city,has_teacher_cnt,is_self_coach,has_student_cnt,belongs_to_class_cnt,has_class_cnt
uuid,,,,,,,,,,,
wH1/Qs32k0Ti18bqWb1PxGfnveo4530CBZTZ/y7uW3k=,unspecified,32769,6,2018-08-01,6,cy,1,False,0,1,0
uKFRoPy+AIJ+cYGFyz7Xx9IyLYbWXDWnsjibDxd5UoU=,unspecified,50279,11,2018-08-01,5,chc,1,False,0,1,0
7bYGewVJB5Bs3b5LRfSdQtQ0HZIH2ehgLHoqRJo7qVo=,unspecified,51600,10,2018-08-01,5,chc,1,False,0,1,0
q9jfYP8EOHcoHIMy2CUdZ9Ce6S5KOvXNl5UmJpRt1gs=,female,22170,2,2018-08-01,5,tc,1,False,0,1,0
XcgNk5O4+8zfK4wKJHhb7HXK7hySUZ1OyZdGDBCmtZA=,unspecified,44435,5,2018-08-01,5,chc,1,False,0,1,0

In [5]:
log_problem_df.head()

,datetime_attempt,uuid,ucid,problem_number,exercise_problem_repeat_session,is_correct,total_sec_taken,total_attempt_cnt,used_hint_cnt,is_hint_used,is_downgrade,is_upgrade,level,date_attempt
upid,,,,,,,,,,,,,,
2Q787l3L0G7f5P0iSWUE4hCfJfYo9uHL4pWV1U45JoQ=,2018-08-01 07:45:00+00:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,hv7kHCAIdj7thZUmlqz553leG5bFNYgzXmLfB5m4Xvw=,1,1,True,10,1,0,False,False,False,0,2018-08-01
/Wgjdl2BsldHZDdXXvzwGimusaMX548lqV2b7PgwXAs=,2018-08-01 07:45:00+00:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,CPI+5YCeEmhqdk6znJeii6jJUNl1QWGEvwCUJ6uLflg=,1,1,True,10,1,0,False,False,False,0,2018-08-01
9Ksy3bdm0HTi0D+cdKSBKDQJjo5GNahep91FqHUrpts=,2018-08-01 07:45:00+00:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,CPI+5YCeEmhqdk6znJeii6jJUNl1QWGEvwCUJ6uLflg=,2,1,True,8,1,0,False,False,False,0,2018-08-01
hYmhOfMMKaQNTrGze5TdATN0HNGJUEjDIYQaocuD4QY=,2018-08-01 07:45:00+00:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,hv7kHCAIdj7thZUmlqz553leG5bFNYgzXmLfB5m4Xvw=,2,1,True,6,1,0,False,False,False,0,2018-08-01
VMScsPmyKXsk5k7+abPqyEbDFRSsCE2XZs5lMKHQHEM=,2018-08-01 07:45:00+00:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,hv7kHCAIdj7thZUmlqz553leG5bFNYgzXmLfB5m4Xvw=,3,1,True,7,1,0,False,False,False,0,2018-08-01

## Identifying categorical attributes

In [6]:
s = info_content_df.dtypes == 'object'
object_cols_info_content = list(s[s].index)

print("Categorical variables: ")
print(object_cols_info_content)

Categorical variables:
['content_pretty_name', 'content_kind', 'difficulty', 'subject', 'learning_stage', 'level1_id', 'level2_id', 'level3_id', 'level4_id']

In [7]:
s = info_userdata_df.dtypes == 'object'
object_cols_info_userdata = list(s[s].index)

print("Categorical variables: ")
print(object_cols_info_userdata)

Categorical variables:
['gender', 'user_city']

In [8]:
s = log_problem_df.dtypes == 'object'
object_cols_log_problem = list(s[s].index)

print("Categorical variables: ")
print(object_cols_log_problem)

Categorical variables:
['uuid', 'ucid']

### 1. Drop categorical variables

The easiest way to deal with categorical variable is to simply remove the columns from the datasets if the attributes do not contain useful information.

The content_kind and subject attribute only contain one unique value. This would not affect

In [9]:
selected_columns = ['content_pretty_name','difficulty','learning_stage']
info_content_df = info_content_df[selected_columns].copy()

### 2. Label Encoding

**Mapping ordinal features**

To make sure that the learning algorithm interprets the ordinal features correctly, we need to convert the categorical string values into integers. Unfortunately, there is no convenient function that can automatically derive the correct order of the labels of our size feature, so we have to define the mapping manually. In the following simple example, let's assume that we know the numerical difference between features, for example, hard = normal + 1 = easy + 2 = unset + 3.

In [10]:
difficulty_mapping = {
    'easy': 1,
    'normal': 2,
    'hard': 3,
    'unset': 0
}
learning_stage_mapping = {
    'elementary': 1,
    'junior': 2,
    'senior': 3
}

In [11]:
info_content_df['difficulty'] = info_content_df['difficulty'].map(difficulty_mapping)
info_content_df['learning_stage'] = info_content_df['learning_stage'].map(learning_stage_mapping)

In [12]:
info_content_df.head()

,content_pretty_name,difficulty,learning_stage
ucid,,,
odIwFdIiecFwVUAEEV40K3MSuCSlIZkbq92Zp9tkZq8=,【基礎】怎樣解題：數量關係,1,1
dfeeBaa8zDhWS6nu7zeXKwLyi4zqEajI3tJM9/fSBPM=,【基礎】和差問題 1,1,1
C2AT0OBTUn+PRxEVd39enhW/DJtka1Tk90DUAR6yVdA=,【基礎】雞兔問題 1,1,1
jZvYpEa6VB/WrlKKmQHnfbv/xJ4OypBzq0epVcn500Q=,【基礎】年齡問題 1,1,1
M+UxJPgRIW57a0YS3eik8A9YDj+AwaMpTa5yWYn/kAw=,【基礎】追趕問題,1,1

In [13]:
info_content_df.describe()

        difficulty  learning_stage
count  1330.000000     1330.000000
mean      1.422556        1.412782
std       0.728090        0.497082
min       0.000000        1.000000
25%       1.000000        1.000000
50%       1.000000        1.000000
75%       2.000000        2.000000
max       3.000000        3.000000

### 3. One-hot encoding - Nominal

By including dummy variable in a regression model however, one should be careful of the Dummy Variable Trap. The Dummy Variable trap is a scenario in which the independent variables are multicollinear - a scenario in which two or more variables are highly correlated; in simple terms one variable can be predicted from the others.

In [14]:
is_downgrade_mapping = {
    True: 1,
    False: 0
}
is_upgrade_mapping = {
    True: 1,
    False: 0
}

In [15]:
log_problem_df['is_downgrade'] = log_problem_df['is_downgrade'].map(is_downgrade_mapping)
log_problem_df['is_upgrade'] = log_problem_df['is_upgrade'].map(is_upgrade_mapping)

In [16]:
log_problem_df.head()

,datetime_attempt,uuid,ucid,problem_number,exercise_problem_repeat_session,is_correct,total_sec_taken,total_attempt_cnt,used_hint_cnt,is_hint_used,is_downgrade,is_upgrade,level,date_attempt
upid,,,,,,,,,,,,,,
2Q787l3L0G7f5P0iSWUE4hCfJfYo9uHL4pWV1U45JoQ=,2018-08-01 07:45:00+00:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,hv7kHCAIdj7thZUmlqz553leG5bFNYgzXmLfB5m4Xvw=,1,1,True,10,1,0,False,0,0,0,2018-08-01
/Wgjdl2BsldHZDdXXvzwGimusaMX548lqV2b7PgwXAs=,2018-08-01 07:45:00+00:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,CPI+5YCeEmhqdk6znJeii6jJUNl1QWGEvwCUJ6uLflg=,1,1,True,10,1,0,False,0,0,0,2018-08-01
9Ksy3bdm0HTi0D+cdKSBKDQJjo5GNahep91FqHUrpts=,2018-08-01 07:45:00+00:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,CPI+5YCeEmhqdk6znJeii6jJUNl1QWGEvwCUJ6uLflg=,2,1,True,8,1,0,False,0,0,0,2018-08-01
hYmhOfMMKaQNTrGze5TdATN0HNGJUEjDIYQaocuD4QY=,2018-08-01 07:45:00+00:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,hv7kHCAIdj7thZUmlqz553leG5bFNYgzXmLfB5m4Xvw=,2,1,True,6,1,0,False,0,0,0,2018-08-01
VMScsPmyKXsk5k7+abPqyEbDFRSsCE2XZs5lMKHQHEM=,2018-08-01 07:45:00+00:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,hv7kHCAIdj7thZUmlqz553leG5bFNYgzXmLfB5m4Xvw=,3,1,True,7,1,0,False,0,0,0,2018-08-01

In [17]:
info_userdata_gender = pd.get_dummies(info_userdata_df.gender, prefix='gender').iloc[:,:-1]
info_userdata_df = pd.concat([info_userdata_df, info_userdata_gender], axis=1, sort=False)

In [18]:
info_userdata_city = pd.get_dummies(info_userdata_df.user_city, prefix='user_city').iloc[:,:-1]
info_userdata_df = pd.concat([info_userdata_df, info_userdata_city], axis=1, sort=False)

In [19]:
info_userdata_df = info_userdata_df.drop(columns = ['gender','user_city'])

The info_userdata dataframe can be glanced through head().

In [20]:
info_userdata_df.head()

,points,badges_cnt,date_login,user_grade,has_teacher_cnt,is_self_coach,has_student_cnt,belongs_to_class_cnt,has_class_cnt,gender_female,...,user_city_ml,user_city_ntct,user_city_ntpc,user_city_phc,user_city_ptc,user_city_tc,user_city_tn,user_city_tp,user_city_ttct,user_city_ty
uuid,,,,,,,,,,,,,,,,,,,,,
wH1/Qs32k0Ti18bqWb1PxGfnveo4530CBZTZ/y7uW3k=,32769,6,2018-08-01,6,1,False,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
uKFRoPy+AIJ+cYGFyz7Xx9IyLYbWXDWnsjibDxd5UoU=,50279,11,2018-08-01,5,1,False,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7bYGewVJB5Bs3b5LRfSdQtQ0HZIH2ehgLHoqRJo7qVo=,51600,10,2018-08-01,5,1,False,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
q9jfYP8EOHcoHIMy2CUdZ9Ce6S5KOvXNl5UmJpRt1gs=,22170,2,2018-08-01,5,1,False,0,1,0,1,...,0,0,0,0,0,1,0,0,0,0
XcgNk5O4+8zfK4wKJHhb7HXK7hySUZ1OyZdGDBCmtZA=,44435,5,2018-08-01,5,1,False,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
info_userdata_df.describe()

,points,badges_cnt,user_grade,has_teacher_cnt,has_student_cnt,belongs_to_class_cnt,has_class_cnt,gender_female,gender_male,user_city_chc,...,user_city_ml,user_city_ntct,user_city_ntpc,user_city_phc,user_city_ptc,user_city_tc,user_city_tn,user_city_tp,user_city_ttct,user_city_ty
count,7.275800e+04,72758.000000,72758.000000,72758.000000,72758.000000,72758.000000,72758.000000,72758.000000,72758.000000,72758.000000,...,72758.000000,72758.000000,72758.000000,72758.000000,72758.000000,72758.000000,72758.00000,72758.000000,72758.000000,72758.000000
mean,6.304759e+04,9.543789,5.620715,0.884810,0.203304,0.873306,0.046442,0.180035,0.176695,0.031186,...,0.022843,0.024176,0.148547,0.006611,0.028368,0.147200,0.05543,0.171720,0.019723,0.104662
std,1.242042e+05,19.036328,2.041178,1.552795,6.413944,1.961188,0.315060,0.384219,0.381413,0.173820,...,0.149403,0.153596,0.355644,0.081039,0.166023,0.354308,0.22882,0.377139,0.139047,0.306120
min,1.000000e+00,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,6.285000e+03,0.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,2.040000e+04,3.000000,6.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,6.531375e+04,10.000000,7.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
max,4.047528e+06,760.000000,12.000000,106.000000,966.000000,120.000000,24.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000

## Exporting Data

The data is in DataFrame form, it can manipulate it by adding a body mass index column. The transformed data is exported to the interim data folder which stores the intermediate data that has been transformed.

In [22]:
info_content_df.head()

,content_pretty_name,difficulty,learning_stage
ucid,,,
odIwFdIiecFwVUAEEV40K3MSuCSlIZkbq92Zp9tkZq8=,【基礎】怎樣解題：數量關係,1,1
dfeeBaa8zDhWS6nu7zeXKwLyi4zqEajI3tJM9/fSBPM=,【基礎】和差問題 1,1,1
C2AT0OBTUn+PRxEVd39enhW/DJtka1Tk90DUAR6yVdA=,【基礎】雞兔問題 1,1,1
jZvYpEa6VB/WrlKKmQHnfbv/xJ4OypBzq0epVcn500Q=,【基礎】年齡問題 1,1,1
M+UxJPgRIW57a0YS3eik8A9YDj+AwaMpTa5yWYn/kAw=,【基礎】追趕問題,1,1

In [23]:
info_userdata_df.head()

,points,badges_cnt,date_login,user_grade,has_teacher_cnt,is_self_coach,has_student_cnt,belongs_to_class_cnt,has_class_cnt,gender_female,...,user_city_ml,user_city_ntct,user_city_ntpc,user_city_phc,user_city_ptc,user_city_tc,user_city_tn,user_city_tp,user_city_ttct,user_city_ty
uuid,,,,,,,,,,,,,,,,,,,,,
wH1/Qs32k0Ti18bqWb1PxGfnveo4530CBZTZ/y7uW3k=,32769,6,2018-08-01,6,1,False,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
uKFRoPy+AIJ+cYGFyz7Xx9IyLYbWXDWnsjibDxd5UoU=,50279,11,2018-08-01,5,1,False,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
7bYGewVJB5Bs3b5LRfSdQtQ0HZIH2ehgLHoqRJo7qVo=,51600,10,2018-08-01,5,1,False,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
q9jfYP8EOHcoHIMy2CUdZ9Ce6S5KOvXNl5UmJpRt1gs=,22170,2,2018-08-01,5,1,False,0,1,0,1,...,0,0,0,0,0,1,0,0,0,0
XcgNk5O4+8zfK4wKJHhb7HXK7hySUZ1OyZdGDBCmtZA=,44435,5,2018-08-01,5,1,False,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
log_problem_df.head()

,datetime_attempt,uuid,ucid,problem_number,exercise_problem_repeat_session,is_correct,total_sec_taken,total_attempt_cnt,used_hint_cnt,is_hint_used,is_downgrade,is_upgrade,level,date_attempt
upid,,,,,,,,,,,,,,
2Q787l3L0G7f5P0iSWUE4hCfJfYo9uHL4pWV1U45JoQ=,2018-08-01 07:45:00+00:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,hv7kHCAIdj7thZUmlqz553leG5bFNYgzXmLfB5m4Xvw=,1,1,True,10,1,0,False,0,0,0,2018-08-01
/Wgjdl2BsldHZDdXXvzwGimusaMX548lqV2b7PgwXAs=,2018-08-01 07:45:00+00:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,CPI+5YCeEmhqdk6znJeii6jJUNl1QWGEvwCUJ6uLflg=,1,1,True,10,1,0,False,0,0,0,2018-08-01
9Ksy3bdm0HTi0D+cdKSBKDQJjo5GNahep91FqHUrpts=,2018-08-01 07:45:00+00:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,CPI+5YCeEmhqdk6znJeii6jJUNl1QWGEvwCUJ6uLflg=,2,1,True,8,1,0,False,0,0,0,2018-08-01
hYmhOfMMKaQNTrGze5TdATN0HNGJUEjDIYQaocuD4QY=,2018-08-01 07:45:00+00:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,hv7kHCAIdj7thZUmlqz553leG5bFNYgzXmLfB5m4Xvw=,2,1,True,6,1,0,False,0,0,0,2018-08-01
VMScsPmyKXsk5k7+abPqyEbDFRSsCE2XZs5lMKHQHEM=,2018-08-01 07:45:00+00:00,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,hv7kHCAIdj7thZUmlqz553leG5bFNYgzXmLfB5m4Xvw=,3,1,True,7,1,0,False,0,0,0,2018-08-01

In [25]:
%%time

info_content_df.to_hdf('../data/interim/Info_Content.h5',key='info_content')
info_userdata_df.to_hdf('../data/interim/Info_UserData.h5',key='info_userdata')
log_problem_df.to_hdf('../data/interim/Log_Problem.h5',key='log_problem')

Wall time: 14.2 s