## Setting Environment

In [1]:
# modules we'll use
import pandas as pd
import numpy as np

## Importing Data

In [2]:
%%time
merge_df = pd.read_csv('../data/interim/Merged_Data.csv')

Wall time: 38.5 s

In [3]:
merge_df.head()

,Unnamed: 0,Unnamed: 0_x,datetime_attempt,uuid,ucid,problem_number,exercise_problem_repeat_session,is_correct,total_sec_taken,total_attempt_cnt,...,user_city_tc,user_city_tn,user_city_tp,user_city_ttct,user_city_ty,Unnamed: 0_y,content_pretty_name,difficulty,learning_stage,content_correct_rate
0,0,0,2018-09-28 20:00:00+00:00,Kpq2q+eKw/O+6/jLs3XJosgmI7weEJxJZdnkKTbbF8I=,Ps4dfShfpeMF3VG030HqZ2bsbD7PaVxvJYFTtroeSzQ=,2,1,True,11,1,...,0,0,0,0,0,823,【基礎】倍數的應用,1,1,0.611204
1,1,1,2018-09-28 10:15:00+00:00,0+VU/Zb0Q96uoByuRhl7r9bJuJO6CKWpsmNMEuijSzc=,/d39FzqaM3PZzpoMXxA80PMICsVhzfL6MGSCqZtsQOo=,6,1,True,26,1,...,0,0,0,0,0,828,【基礎】找出最小公倍數,1,1,0.665209
2,2,2,2018-09-05 20:00:00+00:00,g8DnYvIqpolw10XlwWeIWv6NbDPByUbmgH8EshJqBns=,YuGOmB+frbM8rfAa0RJE882R+IoMf9N89OiVqLbAHBw=,4,1,True,78,1,...,0,0,0,0,1,837,【基礎】尋找質因數,1,1,0.817687
3,3,3,2018-09-14 16:30:00+00:00,kSyUTFlepsYUD723IPL/jEZ520xaKbscrBmNtBUFR1o=,BG1RsWojzEHzV28RBm/1iKi1NyZgDcDomLYEJSV6lmo=,3,1,True,7,1,...,0,0,0,0,0,599,【基礎】數的相關名詞介紹,1,2,0.779138
4,4,4,2018-09-13 16:00:00+00:00,XMFbFA7C49+LRhUddhelfPpA6F5dbOoxeyL3eYbuTlY=,qPHR8aBqOhKij9IS/Y8IR8prwWruoDBGU1tVUhXDJkE=,12,1,True,48,1,...,0,0,0,0,1,1091,【基礎】大數的加減,1,1,0.713263

In [4]:
merge_df.shape

(7197409, 52)

In [5]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197409 entries, 0 to 7197408
Data columns (total 52 columns):
 #   Column                           Dtype
---  ------                           -----
 0   Unnamed: 0                       int64
 1   Unnamed: 0_x                     int64
 2   datetime_attempt                 object
 3   uuid                             object
 4   ucid                             object
 5   problem_number                   int64
 6   exercise_problem_repeat_session  int64
 7   is_correct                       bool
 8   total_sec_taken                  int64
 9   total_attempt_cnt                int64
 10  used_hint_cnt                    int64
 11  is_hint_used                     bool
 12  is_downgrade                     int64
 13  is_upgrade                       int64
 14  level                            int64
 15  is_proficient                    int64
 16  problem_correct_rate             float64
 17  points                           int64
 18  badges_cnt                       int64
 19  date_login                       object
 20  user_grade                       int64
 21  has_teacher_cnt                  int64
 22  is_self_coach                    bool
 23  has_student_cnt                  int64
 24  belongs_to_class_cnt             int64
 25  has_class_cnt                    int64
 26  gender_female                    int64
 27  gender_male                      int64
 28  user_city_chc                    int64
 29  user_city_cy                     int64
 30  user_city_hc                     int64
 31  user_city_hlc                    int64
 32  user_city_ilc                    int64
 33  user_city_kh                     int64
 34  user_city_kl                     int64
 35  user_city_km                     int64
 36  user_city_lj                     int64
 37  user_city_ml                     int64
 38  user_city_ntct                   int64
 39  user_city_ntpc                   int64
 40  user_city_phc                    int64
 41  user_city_ptc                    int64
 42  user_city_tc                     int64
 43  user_city_tn                     int64
 44  user_city_tp                     int64
 45  user_city_ttct                   int64
 46  user_city_ty                     int64
 47  Unnamed: 0_y                     int64
 48  content_pretty_name              object
 49  difficulty                       int64
 50  learning_stage                   int64
 51  content_correct_rate             float64
dtypes: bool(3), float64(2), int64(42), object(5)
memory usage: 2.6+ GB

In [6]:
X = merge_df.drop('level', axis=1)
y = merge_df['level']

## Splitting Data

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [ ]:
print(X_train)
print(y_train)

In [ ]:
print(X_test)
print(y_test)