## Setting Environment

In [2]:
# modules we'll use
import pandas as pd
import numpy as np

## Importing Data

In [3]:
%%time
merge_df = pd.read_csv('../data/interim/Merged_Data.csv')

Wall time: 37.4 s

In [4]:
merge_df.head()

,Unnamed: 0,datetime_attempt,uuid,ucid,problem_number,exercise_problem_repeat_session,is_correct,total_sec_taken,total_attempt_cnt,used_hint_cnt,...,is_self_coach,has_student_cnt,belongs_to_class_cnt,has_class_cnt,content_pretty_name,difficulty,learning_stage,level2_id,level3_id,level4_id
0,0,2018-09-28 20:00:00+00:00,Kpq2q+eKw/O+6/jLs3XJosgmI7weEJxJZdnkKTbbF8I=,Ps4dfShfpeMF3VG030HqZ2bsbD7PaVxvJYFTtroeSzQ=,2,1,True,11,1,0,...,True,1,10,1,【基礎】倍數的應用,easy,elementary,7f73q332BKPBXaixasa4EkUb+pF6VAsLxNIg4506JJs=,ItasYR+er/FlZlRvL66/NB3wY0AvmlrZKoqe4gmPyD0=,VHYt8IeoqiIPVsB+32JAhIjK9jU+pnr11fL80QshARI=
1,1,2018-09-28 10:15:00+00:00,0+VU/Zb0Q96uoByuRhl7r9bJuJO6CKWpsmNMEuijSzc=,/d39FzqaM3PZzpoMXxA80PMICsVhzfL6MGSCqZtsQOo=,6,1,True,26,1,0,...,False,0,1,0,【基礎】找出最小公倍數,easy,elementary,7f73q332BKPBXaixasa4EkUb+pF6VAsLxNIg4506JJs=,ItasYR+er/FlZlRvL66/NB3wY0AvmlrZKoqe4gmPyD0=,VHYt8IeoqiIPVsB+32JAhIjK9jU+pnr11fL80QshARI=
2,2,2018-09-05 20:00:00+00:00,g8DnYvIqpolw10XlwWeIWv6NbDPByUbmgH8EshJqBns=,YuGOmB+frbM8rfAa0RJE882R+IoMf9N89OiVqLbAHBw=,4,1,True,78,1,0,...,False,0,0,0,【基礎】尋找質因數,easy,elementary,7f73q332BKPBXaixasa4EkUb+pF6VAsLxNIg4506JJs=,ItasYR+er/FlZlRvL66/NB3wY0AvmlrZKoqe4gmPyD0=,DoAefIneFglvkxJ4Jb8VyB8JrESm9UEHtGyV4MqiwCo=
3,3,2018-09-14 16:30:00+00:00,kSyUTFlepsYUD723IPL/jEZ520xaKbscrBmNtBUFR1o=,BG1RsWojzEHzV28RBm/1iKi1NyZgDcDomLYEJSV6lmo=,3,1,True,7,1,0,...,False,0,2,0,【基礎】數的相關名詞介紹,easy,junior,xYDz4OEv0xsri1IpmXlrgMLJ848rgySf+39xWpq4DBI=,/yqeM1FRP1rB9WuQWBkStMqrBQgjEexaeyWIhBC7ov4=,Vuo8t3kw/4IH80FuZ0l0uJPwpfrMs8SxhCbJA8zn3vU=
4,4,2018-09-13 16:00:00+00:00,XMFbFA7C49+LRhUddhelfPpA6F5dbOoxeyL3eYbuTlY=,qPHR8aBqOhKij9IS/Y8IR8prwWruoDBGU1tVUhXDJkE=,12,1,True,48,1,0,...,False,0,3,0,【基礎】大數的加減,easy,elementary,7f73q332BKPBXaixasa4EkUb+pF6VAsLxNIg4506JJs=,scsWmkZsfmdmD2IzB24sQ1Au1BOXYgQEx9zO3+4glq8=,hq6uCe9NmtCc+0wlbGGIsxegP2cqYAdFebGd+v4/o8Q=

In [6]:
merge_df.shape

(7197409, 31)

In [7]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197409 entries, 0 to 7197408
Data columns (total 31 columns):
 #   Column                           Dtype
---  ------                           -----
 0   Unnamed: 0                       int64
 1   datetime_attempt                 object
 2   uuid                             object
 3   ucid                             object
 4   problem_number                   int64
 5   exercise_problem_repeat_session  int64
 6   is_correct                       bool
 7   total_sec_taken                  int64
 8   total_attempt_cnt                int64
 9   used_hint_cnt                    int64
 10  is_hint_used                     bool
 11  is_downgrade                     bool
 12  is_upgrade                       bool
 13  level                            int64
 14  gender                           object
 15  points                           int64
 16  badges_cnt                       int64
 17  date_login                       object
 18  user_grade                       int64
 19  user_city                        object
 20  has_teacher_cnt                  int64
 21  is_self_coach                    bool
 22  has_student_cnt                  int64
 23  belongs_to_class_cnt             int64
 24  has_class_cnt                    int64
 25  content_pretty_name              object
 26  difficulty                       object
 27  learning_stage                   object
 28  level2_id                        object
 29  level3_id                        object
 30  level4_id                        object
dtypes: bool(5), int64(14), object(12)
memory usage: 1.4+ GB

## Splitting Data

In [ ]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [ ]:
print(X_train)
print(y_train)

In [ ]:
print(X_test)
print(y_test)