## Setting Environment

In [1]:
# modules we'll use
import pandas as pd
import numpy as np

## Importing Data

In [2]:
%%time
merge_df = pd.read_csv('../data/interim/Merged_Data.csv')

Wall time: 24.2 s

In [3]:
merge_df.head()

,Unnamed: 0,upid,Unnamed: 0.1,datetime_attempt,uuid,ucid,problem_number,exercise_problem_repeat_session,is_correct,total_sec_taken,...,user_city_phc,user_city_ptc,user_city_tc,user_city_tn,user_city_tp,user_city_ttct,user_city_ty,content_pretty_name,difficulty,learning_stage
0,0,ZmKEZ0F2WFqhlL7KFfJcHEnZCZu0e4p+CVG5rSlyKYk=,6814,2018-09-28 20:00:00+00:00,Kpq2q+eKw/O+6/jLs3XJosgmI7weEJxJZdnkKTbbF8I=,Ps4dfShfpeMF3VG030HqZ2bsbD7PaVxvJYFTtroeSzQ=,2,1,True,11,...,0,0,0,0,0,0,0,【基礎】倍數的應用,1,1
1,1,tO9dyvadKWMVQgEx/BXtRIYJ2TRJFQgwvcsBwFb4+xI=,6815,2018-09-28 10:15:00+00:00,0+VU/Zb0Q96uoByuRhl7r9bJuJO6CKWpsmNMEuijSzc=,/d39FzqaM3PZzpoMXxA80PMICsVhzfL6MGSCqZtsQOo=,6,1,True,26,...,0,0,0,0,0,0,0,【基礎】找出最小公倍數,1,1
2,2,6Lxz6aXvgyw3vZd3v8g6jgoCRDPOQzVPx/dnEC0o7DQ=,6816,2018-09-05 20:00:00+00:00,g8DnYvIqpolw10XlwWeIWv6NbDPByUbmgH8EshJqBns=,YuGOmB+frbM8rfAa0RJE882R+IoMf9N89OiVqLbAHBw=,4,1,True,78,...,0,0,0,0,0,0,1,【基礎】尋找質因數,1,1
3,3,1fIjdakTApQp5PfWog87uOmM6JuoNE/oQq2y5/fMmfw=,6817,2018-09-14 16:30:00+00:00,kSyUTFlepsYUD723IPL/jEZ520xaKbscrBmNtBUFR1o=,BG1RsWojzEHzV28RBm/1iKi1NyZgDcDomLYEJSV6lmo=,3,1,True,7,...,0,0,0,0,0,0,0,【基礎】數的相關名詞介紹,1,2
4,4,8V/NT6M+er2I3V3ZIWRNo4Qbo3Iad89PHbeeZeoZeF0=,6818,2018-09-13 16:00:00+00:00,XMFbFA7C49+LRhUddhelfPpA6F5dbOoxeyL3eYbuTlY=,qPHR8aBqOhKij9IS/Y8IR8prwWruoDBGU1tVUhXDJkE=,12,1,True,48,...,0,0,0,0,0,0,1,【基礎】大數的加減,1,1

In [4]:
merge_df.shape

(4273203, 49)

In [5]:
merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4273203 entries, 0 to 4273202
Data columns (total 49 columns):
 #   Column                           Dtype
---  ------                           -----
 0   Unnamed: 0                       int64
 1   upid                             object
 2   Unnamed: 0.1                     int64
 3   datetime_attempt                 object
 4   uuid                             object
 5   ucid                             object
 6   problem_number                   int64
 7   exercise_problem_repeat_session  int64
 8   is_correct                       bool
 9   total_sec_taken                  int64
 10  total_attempt_cnt                int64
 11  used_hint_cnt                    int64
 12  is_hint_used                     bool
 13  is_downgrade                     int64
 14  is_upgrade                       int64
 15  level                            int64
 16  points                           int64
 17  badges_cnt                       int64
 18  date_login                       object
 19  user_grade                       int64
 20  has_teacher_cnt                  int64
 21  is_self_coach                    bool
 22  has_student_cnt                  int64
 23  belongs_to_class_cnt             int64
 24  has_class_cnt                    int64
 25  gender_female                    int64
 26  gender_male                      int64
 27  user_city_chc                    int64
 28  user_city_cy                     int64
 29  user_city_hc                     int64
 30  user_city_hlc                    int64
 31  user_city_ilc                    int64
 32  user_city_kh                     int64
 33  user_city_kl                     int64
 34  user_city_km                     int64
 35  user_city_lj                     int64
 36  user_city_ml                     int64
 37  user_city_ntct                   int64
 38  user_city_ntpc                   int64
 39  user_city_phc                    int64
 40  user_city_ptc                    int64
 41  user_city_tc                     int64
 42  user_city_tn                     int64
 43  user_city_tp                     int64
 44  user_city_ttct                   int64
 45  user_city_ty                     int64
 46  content_pretty_name              object
 47  difficulty                       int64
 48  learning_stage                   int64
dtypes: bool(3), int64(40), object(6)
memory usage: 1.5+ GB

In [6]:
X = merge_df.drop('level', axis=1)
y = merge_df['level']

## Splitting Data

In [7]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [10]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((3204902, 48), (1068301, 48), (3204902,), (1068301,))

In [8]:
print(X_train)
print(y_train)

         Unnamed: 0                                          upid  \
1895800     1895800  O02SyZbSk+th6STkdOOAUQF3t6fblRaRr9oizctjxJY=
855201       855201  YQPLssLlGrjGYw7UUllMObXaZOXBM1gL8/0KIp8IrUc=
1095230     1095230  taSOveIDwz2FPbJDq/eb+yPf9RLBj2bAlyosM5iMrA0=
614863       614863  tkZ+ArPXS0jMubR7Lea/eocgVHqmDFh/GcRsu3wdj5o=
2299097     2299097  xBiqy5wtLM2LCYxR7QoLSiIJXvdGFRi1BROT9FKHVt4=
...             ...                                           ...
374564       374564  NfpcDdqncUJkj9mINNrqn035t2PabmjpIQJpjY3nsr4=
2219731     2219731  9ljaXr45q29sDhWd46gUTptoQ4hHpILTeqJ0EtoW3YA=
2249467     2249467  86eQBEsx8UpwxEt7YHwN2o99l7vAVcnZaQkTGDNB8dE=
2215104     2215104  cg3gfOYZPKlGB9XU7X4++s+lrKkHa4dVLXGePYbnS+U=
1484405     1484405  4ZKp/Q88/QP7QrZ5vNwSbwUudYkyZcJBsb3dcLM8Dxc=

         Unnamed: 0.1           datetime_attempt  \
1895800       6936918  2018-11-06 14:00:00+00:00
855201        3250755  2018-09-18 08:30:00+00:00
1095230       3820389  2018-11-11 16:00:00+00:00
614863        2074100  2018-11-28 13:15:00+00:00
2299097       8520486  2018-11-19 23:15:00+00:00
...               ...                        ...
374564         876609  2018-11-15 18:30:00+00:00
2219731       8342914  2018-09-08 16:00:00+00:00
2249467       8397842  2018-10-15 16:15:00+00:00
2215104       8327832  2018-10-24 19:30:00+00:00
1484405       5336721  2018-11-06 15:00:00+00:00

                                                 uuid  \
1895800  ogKxjtoQ4rAv0G0Icz3SnZXK1awRHybmt1wJdCE1KCc=
855201   0i8Z1Ege1nZo61s5r6wGHX3mbC9hvu4vgwuY12H+3bQ=
1095230  l9eurkAn5XZJgkP6qiZnp4GQ3gxV3nrq5638+7nLzQ8=
614863   puZ7DR6FZiN8hfbOracGDmbbghX0W6z6MpqOMeENwIM=
2299097  AQqkIB0tTJBV4BGteocg9x0VCereqKouMg8DIPlKI68=
...                                               ...
374564   Kfb5x+Uvwkl/JeR/nlj6dF4j1nFv58zvofq7eKjVt94=
2219731  zS7ksVA0V7Iw+WWH/wGo/VFKojv6oRbU+cX9Eha0mus=
2249467  GpEMWEMJmjNzdL38UiagIXBmNUw58SbyEvSVpHXrT8I=
2215104  FewXfj1xHWlT8+6DP+qiZa9Q7yP+B/wL29/VwWbQZLY=
1484405  HQm4auVTLdP5TezD7HIelPd/luZXdvvSeVNe+p/CzWM=

                                                 ucid  problem_number  \
1895800  OVGQBBcCHSOyJ89uwY+z15n2iuZYrv8Tajf37jiGzqc=               1
855201   OVGQBBcCHSOyJ89uwY+z15n2iuZYrv8Tajf37jiGzqc=               3
1095230  2I9aYyQzVZey2D9t2kJpJn97Aty7PBeZ0ITJvFS7Hfk=               9
614863   e85vrrhrWUiVrvUMsLtqjwCVVgejgRneTUUL2gr0GJ0=               4
2299097  S3hqMF0e5To6kPDkpp0xZ7dpZx7GRQgLjAs14iM6rfE=               2
...                                               ...             ...
374564   JZfQaPLUEZBed+XMOOWufLndpgukChiiKsqH/d+cxlI=              34
2219731  5J5VC2w6tQ7Fcg+P2oh3vM6Bo2l8bWGb6mdInIicams=              11
2249467  z7j7u9pIZBLTXsNZB7xMkIJ2CB++xDwCfAFzUG8Juco=               4
2215104  8iS7x756R3pFJUI3YiqHZJFPniXzmPnp2z6qzvdCGnA=               3
1484405  z7j7u9pIZBLTXsNZB7xMkIJ2CB++xDwCfAFzUG8Juco=               8

         exercise_problem_repeat_session  is_correct  total_sec_taken  ...  \
1895800                                1        True                8  ...
855201                                 1        True               12  ...
1095230                                1        True                6  ...
614863                                 1        True               33  ...
2299097                                1       False               20  ...
...                                  ...         ...              ...  ...
374564                                 2        True                8  ...
2219731                                1        True               34  ...
2249467                                1       False               11  ...
2215104                                1       False               18  ...
1484405                                1        True               28  ...

         user_city_phc  user_city_ptc  user_city_tc  user_city_tn  \
1895800              0              0             0             0
855201               0              0             0             0
1095230              0              0             0             0
614863               0              0             0             0
2299097              0              0             0             0
...                ...            ...           ...           ...
374564               0              0             0             0
2219731              0              0             0             0
2249467              0              0             1             0
2215104              0              0             0             0
1484405              0              0             0             0

         user_city_tp  user_city_ttct  user_city_ty  content_pretty_name  \
1895800             0               0             0        【基礎】幾個十幾個一(1)
855201              1               0             0        【基礎】幾個十幾個一(1)
1095230             0               0             0          【基礎】三角形綜合習題
614863              0               0             0      【進階】分數與公尺、公斤、公升
2299097             1               0             0             【基礎】比和比值
...               ...             ...           ...                  ...
374564              1               0             0      【基礎】四則計算：先乘除後加減
2219731             0               0             1          【一般】末位是零的乘法
2249467             0               0             0  【基礎】通分和異分母分數的大小比較 1
2215104             0               0             0            【基礎】因數的應用
1484405             0               0             0  【基礎】通分和異分母分數的大小比較 1

         difficulty  learning_stage
1895800           1               1
855201            1               1
1095230           1               1
614863            3               1
2299097           1               1
...             ...             ...
374564            1               1
2219731           2               1
2249467           1               1
2215104           1               2
1484405           1               1

[3204902 rows x 48 columns]
1895800    0
855201     0
1095230    2
614863     0
2299097    0
          ..
374564     2
2219731    1
2249467    0
2215104    0
1484405    0
Name: level, Length: 3204902, dtype: int64

In [9]:
print(X_test)
print(y_test)

         Unnamed: 0                                          upid  \
3257478     3257478  eMJOR8f0kPnuwK1bjX4eLkrS45Spt40VdJKrtxwU3ws=
3441476     3441476  +hPVSrivY4tqEy/fm3BrSRC9c3+i7AP8j8cy6XS9nz8=
699617       699617  hmUkp1IYQ9szJp2bKwad6pMNyzSvudnFDRNdljAn2As=
3200437     3200437  a6iuvIwrs8Uwk4fJ/7R6I7UFHeR9FfPcymFjYAyM/Ys=
4090587     4090587  3El+tOj/I/l4jrdTs49gBWe0u3WdEmSIhKPvEIyUX64=
...             ...                                           ...
659607       659607  C/dqdLq2aJ70zYZ3L2XAMjlSl9i8pg+2bFdXpR8pRHY=
2287334     2287334  eNOANpYvnbWLB8Y3yGKtPQsrUeXwGn/Z1Asjf8cOg20=
1759472     1759472  rmJ0wSN88GGdFI9UZf6q5B3Nz4xs/kCO3MVND4EzQgc=
3988654     3988654  HLjS46oA95ugbRJuDrk9T0xvEXDThRLLhQu6gYfCn1o=
3298798     3298798  7be+eoktpPCzWnuGlr0YWD5aDc64WJJjRzsWD7W8xVQ=

         Unnamed: 0.1           datetime_attempt  \
3257478      11980267  2018-11-27 19:00:00+00:00
3441476      13081033  2018-09-22 12:45:00+00:00
699617        2258993  2018-11-22 21:30:00+00:00
3200437      11845154  2018-10-05 11:45:00+00:00
4090587      15181116  2018-10-05 11:00:00+00:00
...               ...                        ...
659607        2155495  2018-10-29 15:15:00+00:00
2287334       8499583  2018-09-03 11:00:00+00:00
1759472       6635393  2018-10-31 15:15:00+00:00
3988654      14970533  2018-09-11 18:30:00+00:00
3298798      12032408  2018-10-02 22:30:00+00:00

                                                 uuid  \
3257478  5hhL/CjAX3i9zX2gMhF3KBfMdJ6dbzK6M7XVWovPvwg=
3441476  wblm/QGGqK5HKEihFhAG7rgAHk7AZjZq+Um5hl6BpW4=
699617   FyzMBhup63kE9dmj0iR3TsPuF8zQb8xCjKGx0ikXfAQ=
3200437  wD3vg0Kj728IHBDs1M9jSugy3bI0GveRmd2UbPGvnzg=
4090587  NMNACHrWTmmgjIUsQfQW0/dH3JOTYVBEH2+tDpKSdqE=
...                                               ...
659607   3KK9m6FtOO5JdtJ3MgSotNw8FSLFtJRw+PPLELFbCdQ=
2287334  P6IVpKCfGJpQiAwqLGxJPcSkWfDaAo24XuU2w7ez8OY=
1759472  a61b/Xne9UgocB6LtqurfBQS/S59H8R7vdP257DvBV8=
3988654  Nn64H0HA8C85Zj64qp7ZtLaTb2wUCyP8YICCuMakoF4=
3298798  zLldyI5yjLLcep8zOOgicogySuTcrABeMJm41bncjtM=

                                                 ucid  problem_number  \
3257478  nXCivRFCQRQbeb8yBFJJjoMht7oLbOOKEknNyNG78BQ=              11
3441476  nds7oVk2a6yC/6tk1sTPm75v/0ZPkvrJ00WGmYRciOI=               9
699617   GcHA5YrQ/VZR/FtKlMu8Hmh6+nnO4U8azAFab0hzJQ4=               5
3200437  AcYYIf9FvFbcJSukoI+g8dbbVnGONCM2tSNWDBZPEVg=              20
4090587  LeuXSh3STu/nWMAZErkg2yygA7NPJjux0zmz6eutQZM=               1
...                                               ...             ...
659607   mGoRYD5V/cXy8XsqCcXYWPBKSKknFWuZrWhbNZhQmqw=               1
2287334  bhUhhAGCaQV/N1qvnzhpjaD7P2mfdt3aqOl/ctA5Ozg=               1
1759472  65YgA0ahggSdeaYBdRl82v/AO+pGzmZFqsi8TTDiP3Y=              10
3988654  BrTqq0RU5pT0MuL93VJfFGwV8IhRCgcWmdz0Qfp0i+Y=               9
3298798  RlHAktJl64ZiBd7sf7MkpXdvIKiGtmUYYctdc2AjNSE=              12

         exercise_problem_repeat_session  is_correct  total_sec_taken  ...  \
3257478                                1       False              180  ...
3441476                                1        True               44  ...
699617                                 1        True               16  ...
3200437                                2       False                3  ...
4090587                                1        True                3  ...
...                                  ...         ...              ...  ...
659607                                 1        True               13  ...
2287334                                1        True              118  ...
1759472                                1        True               18  ...
3988654                                1        True                6  ...
3298798                                1        True               44  ...

         user_city_phc  user_city_ptc  user_city_tc  user_city_tn  \
3257478              0              0             0             0
3441476              0              0             0             0
699617               0              0             0             0
3200437              0              0             0             0
4090587              0              0             1             0
...                ...            ...           ...           ...
659607               0              0             0             0
2287334              0              0             1             0
1759472              0              0             0             0
3988654              0              0             0             0
3298798              0              0             0             0

         user_city_tp  user_city_ttct  user_city_ty       content_pretty_name  \
3257478             0               0             1    【基礎】根式的四則運算：利用分配律或乘法公式
3441476             0               0             0            【基礎】因數與公因數綜合習題
699617              0               0             1                 【基礎】認識分配律
3200437             1               0             0  【基礎】在數線上標示分母為 10 以內的簡單分數
4090587             0               0             0        【進階】10000 以內的數綜合習題
...               ...             ...           ...                       ...
659607              0               0             1             【一般】三角形的內角和 2
2287334             0               0             0            【一般】多位數的乘除綜合習題
1759472             0               0             0            【基礎】正三角形和等腰三角形
3988654             1               0             0  【基礎】小數點的移位：乘以 10 和乘以 100
3298798             0               0             0         【一般】平行線截比例線段性質的應用

         difficulty  learning_stage
3257478           1               2
3441476           1               1
699617            1               1
3200437           1               1
4090587           3               1
...             ...             ...
659607            2               1
2287334           2               1
1759472           1               1
3988654           1               1
3298798           2               2

[1068301 rows x 48 columns]
3257478    2
3441476    0
699617     0
3200437    2
4090587    0
          ..
659607     0
2287334    0
1759472    3
3988654    4
3298798    3
Name: level, Length: 1068301, dtype: int64

## Export dataframes

In [11]:
X_train.to_csv('../data/processed/X_train.csv')
X_test.to_csv('../data/processed/X_test.csv')
y_train.to_csv('../data/processed/y_train.csv')
y_test.to_csv('../data/processed/y_test.csv')