In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O
import matplotlib.pyplot as plt

In [2]:
%%time
info_content_raw_df = pd.read_csv('data/Info_Content.csv', index_col='ucid')
info_userdata_raw_df = pd.read_csv('data/Info_UserData.csv', index_col='uuid')
log_problem_raw_df = pd.read_csv('data/Log_Problem.csv', index_col='upid')

Wall time: 48.1 s

In [3]:
print('Number of Info Content Examples = {}'.format(info_content_raw_df.shape[0]))
print('Number of Info User Data Examples = {}'.format(info_userdata_raw_df.shape[0]))
print('Number of Log Problem Examples = {}\n'.format(log_problem_raw_df.shape[0]))
print('Info Content Shape = {}'.format(info_content_raw_df.shape))
print('Info User Data Shape = {}'.format(info_userdata_raw_df.shape))
print('Log Problem Shape = {}'.format(log_problem_raw_df.shape))
print(info_content_raw_df.columns)
print(info_userdata_raw_df.columns)
print(log_problem_raw_df.columns)

Number of Info Content Examples = 1330
Number of Info User Data Examples = 72758
Number of Log Problem Examples = 16217311

Info Content Shape = (1330, 9)
Info User Data Shape = (72758, 11)
Log Problem Shape = (16217311, 13)
Index(['content_pretty_name', 'content_kind', 'difficulty', 'subject',
       'learning_stage', 'level1_id', 'level2_id', 'level3_id', 'level4_id'],
      dtype='object')
Index(['gender', 'points', 'badges_cnt', 'first_login_date_TW', 'user_grade',
       'user_city', 'has_teacher_cnt', 'is_self_coach', 'has_student_cnt',
       'belongs_to_class_cnt', 'has_class_cnt'],
      dtype='object')
Index(['timestamp_TW', 'uuid', 'ucid', 'problem_number',
       'exercise_problem_repeat_session', 'is_correct', 'total_sec_taken',
       'total_attempt_cnt', 'used_hint_cnt', 'is_hint_used', 'is_downgrade',
       'is_upgrade', 'level'],
      dtype='object')

In [4]:
print(info_content_raw_df.info())
info_content_raw_df.sample(3)

<class 'pandas.core.frame.DataFrame'>
Index: 1330 entries, odIwFdIiecFwVUAEEV40K3MSuCSlIZkbq92Zp9tkZq8= to gvez7GFXUbuQl27U5+p/4QwFZZyXP2QFYQdoor8ZkeE=
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   content_pretty_name  1330 non-null   object
 1   content_kind         1330 non-null   object
 2   difficulty           1330 non-null   object
 3   subject              1330 non-null   object
 4   learning_stage       1330 non-null   object
 5   level1_id            1330 non-null   object
 6   level2_id            1330 non-null   object
 7   level3_id            1330 non-null   object
 8   level4_id            1330 non-null   object
dtypes: object(9)
memory usage: 103.9+ KB
None

,content_pretty_name,content_kind,difficulty,subject,learning_stage,level1_id,level2_id,level3_id,level4_id
ucid,,,,,,,,,
vY8SyP2MYgZZz//LD03tey6tg5oMmcO2xFzs4CJO+4M=,【基礎】認識盒狀圖,Exercise,easy,math,junior,aH0Dz0KdH9gio7rrcGRHvrmd9vcd/0WJbeEFB7qeUKA=,2YwsqJH0U7Zguyun1OaStQsIHbUoYvgJNK0QCGC5BQI=,RaHaiGdqikWWUXScrUcgSP/rjWdSy3i6EZ4p8eAPUYw=,xwq9S3SOMEYKW8W5OavIdIhjGY5PqtNwjGvAIOS1g+Y=
kvCAt3kZ/mwV1jD2HyUqAQX8S4PUPR33jaGc4hW10Mc=,【基礎】指數律 1：底數為分數,Exercise,easy,math,junior,aH0Dz0KdH9gio7rrcGRHvrmd9vcd/0WJbeEFB7qeUKA=,xYDz4OEv0xsri1IpmXlrgMLJ848rgySf+39xWpq4DBI=,CFq991L5i+mxDSbH+06jz+rWPf+FmW8hT4uxQjzwxpM=,SoFA3oYx02KwW6utJm+Op0W9ZI/wGVzDyVDAAZRiRng=
D9HHanexVehrjyeBGS1P8EJ90naPdALsOcCou88jhx4=,【基礎】無條件捨去,Exercise,easy,math,elementary,aH0Dz0KdH9gio7rrcGRHvrmd9vcd/0WJbeEFB7qeUKA=,7f73q332BKPBXaixasa4EkUb+pF6VAsLxNIg4506JJs=,scsWmkZsfmdmD2IzB24sQ1Au1BOXYgQEx9zO3+4glq8=,Os6Xep1QnEmcLOZv8sSxIXb4Qdgq45cH9sQxXos29d0=

In [5]:
print(info_userdata_raw_df.info())
info_userdata_raw_df.sample(3)

<class 'pandas.core.frame.DataFrame'>
Index: 72758 entries, Y2RcCdmUJAYPUAIDElo4nE9KrkLLFzUIRdexG+ipaZQ= to hkZZTOTi9MpjU38ctwOSK3O4g12JZt2ykeYS7nJsJkc=
Data columns (total 11 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   gender                32905 non-null  object
 1   points                72758 non-null  int64
 2   badges_cnt            72758 non-null  int64
 3   first_login_date_TW   72758 non-null  object
 4   user_grade            72758 non-null  int64
 5   user_city             72758 non-null  object
 6   has_teacher_cnt       72758 non-null  int64
 7   is_self_coach         72758 non-null  bool
 8   has_student_cnt       72758 non-null  int64
 9   belongs_to_class_cnt  72758 non-null  int64
 10  has_class_cnt         72758 non-null  int64
dtypes: bool(1), int64(7), object(3)
memory usage: 6.2+ MB
None

,gender,points,badges_cnt,first_login_date_TW,user_grade,user_city,has_teacher_cnt,is_self_coach,has_student_cnt,belongs_to_class_cnt,has_class_cnt
uuid,,,,,,,,,,,
QDziaD+Lz/vfSlXI9nhF1EWvJFtTkn1/7VtO85WCqPU=,female,9330,1,2019-05-06,7,tp,1,False,0,2,0
RbNL/aiR9fG5GN/x6uRb01/mbezKP/uzQ3beyKXAbnw=,female,130619,15,2019-06-24,6,tc,4,False,0,5,1
EzfFzJH02SPa8eUktooJSM3CVGQPlpUZ9W7FBrGid08=,female,124005,8,2018-09-01,6,ntpc,1,False,0,0,0

In [6]:
print(log_problem_raw_df.info())
log_problem_raw_df.sample(3)

<class 'pandas.core.frame.DataFrame'>
Index: 16217311 entries, Vbs92l4JmdiWkUEm/iahxnUTaac2oN1IlUtXB7JcfoE= to XdGIwnveMOplh6TxLzeN8TO5SV524bCHxGxeIa3Ixhs=
Data columns (total 13 columns):
 #   Column                           Dtype
---  ------                           -----
 0   timestamp_TW                     object
 1   uuid                             object
 2   ucid                             object
 3   problem_number                   int64
 4   exercise_problem_repeat_session  int64
 5   is_correct                       bool
 6   total_sec_taken                  int64
 7   total_attempt_cnt                int64
 8   used_hint_cnt                    int64
 9   is_hint_used                     bool
 10  is_downgrade                     object
 11  is_upgrade                       object
 12  level                            int64
dtypes: bool(2), int64(6), object(5)
memory usage: 1.5+ GB
None

,timestamp_TW,uuid,ucid,problem_number,exercise_problem_repeat_session,is_correct,total_sec_taken,total_attempt_cnt,used_hint_cnt,is_hint_used,is_downgrade,is_upgrade,level
upid,,,,,,,,,,,,,
MtBfIcMe/A7eNQXLiJ+ev6KRK3NuWUYSnjinjwhQukk=,2018-12-24 11:45:00 UTC,l5QSmJqnSzcoMz/zlKW0s6fWFB+bhX5TP8rb2rJYx88=,finh11g4fr3tjeY0F7m5HvkDtQGrF8e5Q6ZNMX1YLo4=,12,1,True,170,1,0,False,False,True,1
GsL++WcseN/RFoLvfkUtmWk3RfK6UgX0zbd110/KPhA=,2019-06-20 15:15:00 UTC,xTSkvv/Z+THeLtmiAZz/OOHuyHjj2EgNw3l1ccwMEZQ=,hv7kHCAIdj7thZUmlqz553leG5bFNYgzXmLfB5m4Xvw=,29,2,True,14,1,0,False,NaN,NaN,2
IFaaZ89H/ayhW8a4Hl4nqOoWzak4DWvkgi28fv5twn4=,2019-02-10 14:30:00 UTC,GUhGq0PC7Wn12JDAcIcXeUEPYfuTHOHXsfMzrCybcjU=,AftCWTe9HWCQtI7qOgUITUl2eWnLhe6p09IHSLTFB2o=,4,1,True,24,1,0,False,NaN,NaN,0