In [1]:
import pandas as pd

In [5]:
%%time
merge_df = pd.read_csv('../data/raw/log_problem_.csv')

Wall time: 39.4 s

In [6]:
merge_df.columns

Index(['timestamp_TW', 'uuid', 'ucid', 'upid', 'problem_number',
       'exercise_problem_repeat_session', 'is_correct', 'total_sec_taken',
       'total_attempt_cnt', 'used_hint_cnt', 'is_hint_used', 'is_downgrade',
       'is_upgrade', 'level'],
      dtype='object')

In [7]:
merge_df['datetime_attempt'] = pd.to_datetime(merge_df['timestamp_TW'], format='%Y-%m-%d %H:%M:%S %Z')

In [8]:
merge_df['datetime_attempt'].describe()

count                      16217311
unique                        30507
top       2019-03-19 16:30:00+00:00
freq                           7660
first     2018-08-01 07:45:00+00:00
last      2019-08-01 00:00:00+00:00
Name: datetime_attempt, dtype: object

In [9]:
# scale down some records
merge_df = merge_df[merge_df['datetime_attempt'] < '2018-12-01']

In [11]:
merge_df.columns

Index(['timestamp_TW', 'uuid', 'ucid', 'upid', 'problem_number',
       'exercise_problem_repeat_session', 'is_correct', 'total_sec_taken',
       'total_attempt_cnt', 'used_hint_cnt', 'is_hint_used', 'is_downgrade',
       'is_upgrade', 'level', 'datetime_attempt'],
      dtype='object')

In [14]:
merge_df = merge_df.drop(columns=['datetime_attempt'])

In [15]:
merge_df.columns

Index(['timestamp_TW', 'uuid', 'ucid', 'upid', 'problem_number',
       'exercise_problem_repeat_session', 'is_correct', 'total_sec_taken',
       'total_attempt_cnt', 'used_hint_cnt', 'is_hint_used', 'is_downgrade',
       'is_upgrade', 'level'],
      dtype='object')

In [16]:
merge_df.head()

,timestamp_TW,uuid,ucid,upid,problem_number,exercise_problem_repeat_session,is_correct,total_sec_taken,total_attempt_cnt,used_hint_cnt,is_hint_used,is_downgrade,is_upgrade,level
6814,2018-09-28 20:00:00 UTC,Kpq2q+eKw/O+6/jLs3XJosgmI7weEJxJZdnkKTbbF8I=,Ps4dfShfpeMF3VG030HqZ2bsbD7PaVxvJYFTtroeSzQ=,ZmKEZ0F2WFqhlL7KFfJcHEnZCZu0e4p+CVG5rSlyKYk=,2,1,True,11,1,0,False,NaN,NaN,0
6815,2018-09-28 10:15:00 UTC,0+VU/Zb0Q96uoByuRhl7r9bJuJO6CKWpsmNMEuijSzc=,/d39FzqaM3PZzpoMXxA80PMICsVhzfL6MGSCqZtsQOo=,tO9dyvadKWMVQgEx/BXtRIYJ2TRJFQgwvcsBwFb4+xI=,6,1,True,26,1,0,False,NaN,NaN,0
6816,2018-09-05 20:00:00 UTC,g8DnYvIqpolw10XlwWeIWv6NbDPByUbmgH8EshJqBns=,YuGOmB+frbM8rfAa0RJE882R+IoMf9N89OiVqLbAHBw=,6Lxz6aXvgyw3vZd3v8g6jgoCRDPOQzVPx/dnEC0o7DQ=,4,1,True,78,1,0,False,NaN,NaN,0
6817,2018-09-14 16:30:00 UTC,kSyUTFlepsYUD723IPL/jEZ520xaKbscrBmNtBUFR1o=,BG1RsWojzEHzV28RBm/1iKi1NyZgDcDomLYEJSV6lmo=,1fIjdakTApQp5PfWog87uOmM6JuoNE/oQq2y5/fMmfw=,3,1,True,7,1,0,False,NaN,NaN,0
6818,2018-09-13 16:00:00 UTC,XMFbFA7C49+LRhUddhelfPpA6F5dbOoxeyL3eYbuTlY=,qPHR8aBqOhKij9IS/Y8IR8prwWruoDBGU1tVUhXDJkE=,8V/NT6M+er2I3V3ZIWRNo4Qbo3Iad89PHbeeZeoZeF0=,12,1,True,48,1,0,False,False,True,1

In [17]:
merge_df.sort_values('timestamp_TW')

,timestamp_TW,uuid,ucid,upid,problem_number,exercise_problem_repeat_session,is_correct,total_sec_taken,total_attempt_cnt,used_hint_cnt,is_hint_used,is_downgrade,is_upgrade,level
13311409,2018-08-01 07:45:00 UTC,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,CPI+5YCeEmhqdk6znJeii6jJUNl1QWGEvwCUJ6uLflg=,OE6ac/KSBYPUdQIN5KjVZS1QSxWiKqis6mIYB0s6kV4=,4,1,True,7,1,0,False,NaN,NaN,0
8372688,2018-08-01 07:45:00 UTC,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,CPI+5YCeEmhqdk6znJeii6jJUNl1QWGEvwCUJ6uLflg=,OSuDd4rDo2muXXwwJRU2DQVHkk6/JOGgNzfzNi4PMJM=,3,1,True,4,1,0,False,NaN,NaN,0
9867905,2018-08-01 07:45:00 UTC,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,hv7kHCAIdj7thZUmlqz553leG5bFNYgzXmLfB5m4Xvw=,uBLXCm5fo+379+7inT7iqWKGJiqEovZPgmn92DeLWE4=,4,1,True,7,1,0,False,NaN,NaN,0
138933,2018-08-01 07:45:00 UTC,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,hv7kHCAIdj7thZUmlqz553leG5bFNYgzXmLfB5m4Xvw=,VMScsPmyKXsk5k7+abPqyEbDFRSsCE2XZs5lMKHQHEM=,3,1,True,7,1,0,False,NaN,NaN,0
11669798,2018-08-01 07:45:00 UTC,U+lqK/FKWkPuoNUM1AbGyrKZfXeQrRRoKOToKrjqDt4=,CPI+5YCeEmhqdk6znJeii6jJUNl1QWGEvwCUJ6uLflg=,/Wgjdl2BsldHZDdXXvzwGimusaMX548lqV2b7PgwXAs=,1,1,True,10,1,0,False,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11526146,2018-11-30 23:45:00 UTC,WaEHWxI492MKoHqrIzI/CqYe93ShuQPYyKeNh4+2YTA=,BjRt9ztH0eQGaMBHEBW3d1dnrKlg/t9cOV//Lvar6Tw=,TJarkd+BLRnL/07Nox9xwPg9zEkMuhnXH6ikd76qQj0=,7,1,True,27,1,0,False,NaN,NaN,0
11526557,2018-11-30 23:45:00 UTC,PgrCem2xSJt2NmrufHdvoak/HJRdkMUiZnq+DlSagn0=,HkphON7FGZhxH00QM+nroOHvAGI5ntJX09tiU1Vu80A=,zx+7ctp3e8NcpA1mkuhIgj1mbp9fhU7szDFpNjfo07s=,10,1,True,8,1,0,False,False,True,1
15227626,2018-11-30 23:45:00 UTC,EiAFzN0qCjkMGIR5jtCh5L7uiMxyuFoVWIAXVlqM+Lc=,eJs/Pql/Xui+9mjL0q4CwHI/r+w6Bn3tTCt0i6r4xrg=,xkKYs3fYJj6sz6tGqcVjYt7sqYDVsd07JRpeKYW5bNQ=,11,2,True,17,1,0,False,NaN,NaN,0
2129509,2018-11-30 23:45:00 UTC,WaEHWxI492MKoHqrIzI/CqYe93ShuQPYyKeNh4+2YTA=,BjRt9ztH0eQGaMBHEBW3d1dnrKlg/t9cOV//Lvar6Tw=,ouW9+kYTCa+QG4QQWOQE64F+aMxn90TGMZf1mxmm4aw=,4,1,True,8,1,0,False,NaN,NaN,0
633527,2018-11-30 23:45:00 UTC,4UTVX1d0uMWHsrXbllvsgFmdq95MDimTLnnB/mbvI0E=,PqQyQvOjvvozBCtlR/0pL8uxhe0K63IPiKYCi1tDG1o=,WKqXynx/QIPSldwJPIQ0iTE5Fbv/0jZepVfY0It3BTk=,4,1,True,4,1,0,False,NaN,NaN,0

In [18]:
merge_df.to_csv('../data/raw/Log_Problem.csv')